<!DOCTYPE html>
<html>
<head>
  <title>どれだけ飲みましたか？</title>
  <meta http-equiv="content-type" charset="utf-8">
  
      <!-- CSS -->
  <link rel="stylesheet" href="check.css">
</head>
<body>
  <div><h1>アルコールチェック</h1></div>
  <ul>
  <li>生ビール・     450ml・  5%
  <form oninput="total.value = 450 * Number(pieces.value);"
  		oninput="alcohol.value = total * 0.05 / 0.8">
	<input type="text" name="pieces" min="1" max="5000" list="numlist" 
	size="10" placeholder="ダブルクリック">
	<datalist id="numlist">
	<option value="1"></option>
	<option value="2"></option>
	<option value="3"></option>
	<option value="4"></option>
	<option value="5"></option>
	<option value="6"></option>
	<option value="7"></option>
	<option value="8"></option>
	<option value="9"></option>
	</datalist>
杯 = <span>合計：<output name="total"> ml</output></span>
	<span>純アルコール量：<output name="alcohol"> g</output></span>
</form>
  <li>生ビール大・ 700ml・  5%
  <form oninput="total.value = 750 * Number(pieces.value);">
	
	<input type="text" name="pieces" min="1" max="5000" list="numlist" 
	size="10" placeholder="ダブルクリック">
	<datalist id="numlist">
	<option value="1"></option>
	<option value="2"></option>
	<option value="3"></option>
	<option value="4"></option>
	<option value="5"></option>
	<option value="6"></option>
	<option value="7"></option>
	<option value="8"></option>
	<option value="9"></option>
	</datalist>
杯 = <span>合計：<output name="total"> ml</output></span>
</form></li>
  <li>ハイボール・  450ml・  7%
  <form oninput="total.value = 450 * Number(pieces.value);">
	
	<input type="text" name="pieces" min="1" max="5000" list="numlist" 
	size="10" placeholder="ダブルクリック">
	<datalist id="numlist">
	<option value="1"></option>
	<option value="2"></option>
	<option value="3"></option>
	<option value="4"></option>
	<option value="5"></option>
	<option value="6"></option>
	<option value="7"></option>
	<option value="8"></option>
	<option value="9"></option>
	</datalist>
杯 = <span>合計：<output name="total"> ml</output></span>
</form></li>
  <li>ワイン・  125ml・  10%
  	<form oninput="total.value = 125 * Number(pieces.value);">
	
	<input type="text" name="pieces" min="1" max="5000" list="numlist" 
	size="10" placeholder="ダブルクリック">
	<datalist id="numlist">
	<option value="1"></option>
	<option value="2"></option>
	<option value="3"></option>
	<option value="4"></option>
	<option value="5"></option>
	<option value="6"></option>
	<option value="7"></option>
	<option value="8"></option>
	<option value="9"></option>
	</datalist>
杯 = <span>合計：<output name="total"> ml</output></span>
</form></li>
  <li>日本酒・       180ml・  15%
  	<form oninput="total.value = 180 * Number(pieces.value);">
	
	<input type="text" name="pieces" min="1" max="5000" list="numlist" 
	size="10" placeholder="ダブルクリック">
	<datalist id="numlist">
	<option value="1"></option>
	<option value="2"></option>
	<option value="3"></option>
	<option value="4"></option>
	<option value="5"></option>
	<option value="6"></option>
	<option value="7"></option>
	<option value="8"></option>
	<option value="9"></option>
	</datalist>
杯 = <span>合計：<output name="total"> ml</output></span>
</form></li>
  <li>焼酎・           100ml・  25%
  	<form oninput="total.value = 100 * Number(pieces.value);">
	
	<input type="text" name="pieces" min="1" max="5000" list="numlist" 
	size="10" placeholder="ダブルクリック">
	<datalist id="numlist">
	<option value="1"></option>
	<option value="2"></option>
	<option value="3"></option>
	<option value="4"></option>
	<option value="5"></option>
	<option value="6"></option>
	<option value="7"></option>
	<option value="8"></option>
	<option value="9"></option>
	</datalist>
杯 = <span>合計：<output name="total"> ml</output></span>
</form></li>
</ul>

  <div><a href = "result.html" >完了</a></div><br><br>
  
</body>
</html>